*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.about{
    text-align: center;
    font-size: larger;
  a{
    text-decoration: none;
   font-style: bold;
   font-weight: 900;
  }
}

.f-main{
margin-top: 10px;
padding: 10px;
    background-color: rgb(56, 54, 54);
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex: wrap;

    .f-1{
        flex-direction: column;
        align-items: center;
        color: white;
    
        ul li{
            list-style: none;
            line-height: 30px;
            color: white;
        }
    }
    .f-2{
        flex-direction: column;
        align-items: center;
        color: white;
    
        ul li{
            list-style: none;
            line-height: 30px;
            color: white;
        }
    }
    .f-3{
        flex-direction: column;
        align-items: center;
        color: white;
    
        ul li{
            list-style: none;
            line-height: 30px;
            color: white;
        }
    }
    .f-4{
        flex-direction: column;
        align-items: center;
        color: white;
    
        ul li{
            list-style: none;
            line-height: 30px;
            color: white;
        }
    }
}