.p-seccess{
    align-items: center;

.success{
    height: 300px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //right: 50%;
    font-weight: 900;
    font-style: italic;
    font-family:Algerian ;
    font-size: 250%;
    background-color: rgba(0,255,0,.8);
    position: relative;
    h2{
        align-items: center;
        position: absolute;
        right: 480px;
    }
}
.oder-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
    margin: 5px;
    align-items: center;
    background-color: antiquewhite;
    .oder1{
        border-radius: 50px;

    }
}
.s-btn{
    background-color: orange;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;

    a{
        text-decoration: none;
        color: black;
        font-size: 30px;
        align-items: center;
    }
}
}
